/.idea
/node_modules
/public/hot
/public/storage
#/public/assets/
#/public/assets/js/page/*
*[Dd]ummy*
*[Ss]ecret*
/public/assets/modules/*
/public/assets/vendor/*
/public/assets/images/*
/storage/*.key
/vendor
/scripts
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app.yaml
.DS_Store
dmy*
.DS_Store